{% extends 'layout.html' %} {% block body %}
<div class="p-5 mb-4 bg-light rounded-3 text-center">
  <div class="container-fluid">
    <h1 class="display-4">Welcome To FlaskApp</h1>
    <p class="lead">
      This application is built on the Python Flask framework and is the focus for the "Python Flask From Scratch"
      YouTube series
    </p>
    {% if session.logged_in == NULL %}
    <a href="/register" class="btn btn-primary btn-lg me-2">Register</a>
    <a href="/login" class="btn btn-success btn-lg">Login</a>
    {% endif %}
  </div>
</div>
{% endblock %}
